<div ng-show="widget">
    <ul class="nav nowrap">
        <li class="nav-item">
            <h2>{{title}}</h2>
        </li>
        <li class="nav-item">      
            <a ui-sref="widgets.widget({widgetId: widget.id})" id="btn-close" 
                class="btn close" role="button" ng-show="mode=='edit'"><span>&times;</span>
            </a>
            <a ui-sref="widgets()" id="btn-close" 
                class="btn close" role="button" ng-show="mode=='add'"><span>&times;</span>
            </a>            
        </li>            
    </ul>
    
    <form class="detail-form" name="editForm">
        
        <div class="form-row">            
            <div class="col one-col">
                <label for="{{widget.name}}">Widget Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="widget-name+{{widget.name}}" 
                    ng-model="widget.name" required>
            </div>
            <div role="alert">
                <span class="error" ng-show="editForm.name.$error">Required!</span>
            </div>
        </div>
        
        <div ng-repeat="dt in widget.detail">
        
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="'key'+{{$index}}" ng-model="dt.key" required>
                </div>
                <div role="alert">
                    <span class="error" ng-show="editForm.name.$error">Required!</span>
                </div>

                <div class="col">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="'val'+{{$index}}" ng-model="dt.value" required> 
                </div>
                <div role="alert">
                    <span class="error" ng-show="editForm.name.$error">Required!</span>
                </div>

                <div class="col">                                    
                    <button type="button" class="btn btn-danger mb-2" ng-click="delete($index)" 
                        ng-show="setBtnShow($index, widget).delete"> - 
                    </button>                    
                    <button type="button" class="btn btn-primary mb-2" ng-click="add()" 
                        ng-show="setBtnShow($index, widget).add"> + 
                    </button>
                </div>                   
            </div>
        </div>
                
        <div>
            <div ng-alert=""></ng-alert>
        </div>

        <div class="form-row">
            <div class="col">
                <button type="button" class="btn btn-info" id="pull-rigt" 
                    ng-disabled="!editForm.$valid" ng-click="submit()">Save
                </button>
            </div>            
        </div>       
           
    </form>
</div>