<div ng-show="detail && detail.length>0">
    <ul class="nav nowrap">
        <li class="nav-item">
            <h2>{{title}}</h2>
        </li>
        <li class="nav-item">            
            <a ui-sref="widgets()" id="btn-close" 
                class="btn close" role="button"><span>&times;</span>
            </a>
        </li>            
    </ul>

    <form class="detail-form">
        <div ng-repeat="dt in detail">
        
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="'key'+{{$index}}" ng-model="dt.key" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="'val'+{{$index}}" ng-model="dt.value" readonly> 
                </div>                
            </div>
        </div>
        
        <div class="form-row">
            <div class="col">
                <a ui-sref="widgets.edit({widgetId: widgetId})" 
                    class="btn btn-primary" role="button">Edit
                </a>                
            </div>
        </div>       
           
    </form>
</div>