<div ng-show="detail && detail.length>0">
    <ul class="nav nowrap">
        <li class="nav-item">
            <h2>{{title}}</h2>
        </li>
        <li class="nav-item">
            <button id="btn-reset" type="button" class="close" ng-click="close()">
                <span>&times;</span>
            </button>
        </li>            
    </ul>

    <form class="detail-form">
        <div ng-repeat="dt in detail">
        
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="{{dt.key + widgetId}}" ng-model="dt.key" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="{{dt.value + widgetId}}" ng-model="dt.value" readonly> 
                </div>                
            </div>
        </div>
        
        <div class="form-row">
            <div class="col">
                <a ui-sref="widgets.edit({widgetId: widgetId})" 
                    class="btn btn-primary" role="button">Edit
                </a>                
            </div>
        </div>       
           
    </form>
</div>