<div ng-show="detail && detail.length>0">
    <h2>{{title}}</h2>

    <form class="detail-form">
        <div ng-repeat="dt in detail">
        
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="{{dt.key + widgetId}}" ng-model="dt.key" readonly>
                </div>
                <div class="col">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="{{dt.value + widgetId}}" ng-model="dt.value" readonly> 
                </div>
                <div class="col">
                    <a href="#" routerLink="/widget-remove/{{dt.key}}" 
                        class="btn btn-danger mb-2" role="button"> - </a>
                    <a ui-sref="widget-edit({key: dt.key})" 
                        class="btn btn-primary mb-2" role="button"> + </a>
                </div>                   
            </div>
        </div>
        
        <div class="form-row">
            <div class="col">
                <a ui-sref="widgets.edit({widgetId: widgetId})" 
                    class="btn btn-primary" role="button">Edit
                </a>                
            </div>
        </div>       
           
    </form>
</div>