<main class="container pt-3 body-container">
    <div class="container-fluid">
        <div class="row">

            <!-- widgets list -->            
            <div id="widgets-list" class='col-md-6 col-sm-12'>
                
                <ul class="nav">
                    <li class="nav-item">
                        <h2 class="h-center">{{title}}</h2>
                    </li>
                </ul>
                <p ng-show="!widgets"><em>Loading...</em></p>
                    
                <table ng-show="widgets" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr ng-repeat="widget in widgets" ng-click="setClickedRow($index)"
                            ng-class="{'selected-row': $index==selectedRow}">

                            <td>{{widget.id}}</td>
                            <td>
                                <div class="word-break">{{widget.name}}</div>
                            </td>

                            <td>
                                <a ui-sref="widgets.widget({widgetId: widget.id})" 
                                    class="btn btn-primary" role="button">Detail
                                </a>
                            </td>
                            <td>                                            
                                <button type="submit" class="btn btn-danger" 
                                    ng-click="openModal(widget.id)">Remove</button>                                      
                            </td>
                        </tr>
                    </tbody>
                </table>
            
                <a ui-sref="widgets.add()" class="btn btn-primary" role="button">Add
                </a>           
            </div>

            <!-- details/edit -->
            <div class='col-md-6 col-sm-12'>
                <div ui-view></div>
            </div>

        </div>
    </div>
</main>