/* app css stylesheet */

html, body {
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 300px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3{  
  margin-bottom: 1rem;
}

table tbody:last-child{  
  border-bottom: solid;
  border-bottom-color: #ced4da;
  border-bottom-width: 1px;
}

.tr-row{
  display: table-row; 
  display: contents;
  cursor:pointer;
}

.td-data{
  display: table-cell;
}

.td-data a:link {  
  text-decoration-line: none;
  color: #286090;
}

.selected-row {  
  font-weight:bold;
  background-color:#d9d9d9;   
}

label {
  font-weight: 500;
}

.btn button, a, button {
  min-width: 4.5rem;
}

.active {
  font-weight: bolder; 
}

.detail-form{
  margin-bottom: 1rem;
}

.form-row .col:not(.one-col):last-child {
  text-align: end;
}

#pull-rigt{
  float: right;
}

ul > li:first-child {  
  flex: 1 1 auto;
}

.nowrap {
  flex-wrap: nowrap;
}

.word-break {
  word-break: break-all;
}

#btn-reset{  
  font-size: 2.5rem;
}

@media screen and (max-width: 1000px) {
  html, body {
    font-size: 16px;
  }

  .body-container{
    padding-right: 0;
    padding-left: 0;
  }

  #pull-rigt{    
    width: 100%;
  }

  h1, h2, h3, #widgets-list{    
    margin-bottom: .8rem;
  }
  
  .h-center {
    text-align: center; 
  }

  .btn {
    font-size: .8rem;
  }

  .table td, .table th {
    padding: .55rem;
  }
}